<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webserver>
    <rewrite>
      <rules>
        <rule name="angular4" stopprocessing="true">
          <match url=".*" />
          <conditions logicalgrouping="matchall">
            <add input="{request_filename}" matchtype="isfile" negate="true" />
            <add input="{request_filename}" matchtype="isdirectory" negate="true" />
          </conditions>
          <action type="rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webserver>
</configuration>
